<h1>About</h1>
<h2>Mission & Vision</h2>
<h3>Our Vision</h3>
<p>
To be recognized as the leading instrumentation and automation business partner providing marine, industrial, and commercial market with consistent quality service.</p>
<h3>Our Mission</h3>
<p>
We commit to build long-term value to our stakeholders.

To our business partners, suppliers, clients, sub-contractors, we will strive for long lasting relationship and profitable growth through superior customer service, safe, ethical, and efficient service delivery.

To our employees, we will provide them and their families better lives by providing a great and safe work place, valuable work experiences, opportunity for career growth, and compensation package that is compliant to regulatory laws, performance-based and anchored on moral standards.</p>

<a href="http://localhost:3000/" title="home">Home</a>	