<h1>Contact Us</h2>
<p>Office Tele Fax#: (+632) 661-9058</p>
<p>Office Telephone #: (+632) 584-7299</p>
<p>Office Mobile #: (+63) 932-849-5926</p>
<p>Email: support.inspecit@inspecit.com</p>
<p>Address: Unit 1005 City & Land Mega Plaza Bldg. ADB Avenue Corner Garnet Road, Ortigas Center, Pasig City, 1605</p>

<a href="http://localhost:3000/" title="home">Home</a>