<h2>Siemens WindPower Office (Brande Denmark)</h2>
<p>InSpecIT Management set off to Siemens Denmark to join a Factory Acceptance Test(FAT) for the 18MW Bangui Ilocos Windmill Farm Project.</p>

<a href="http://localhost:3000/pages/news" title="news">Go Back to News</a>