<h2>Marine and Technical Superintendent Association of the Philippines (MTSAP) Seminar</h2>
<p>The MTSAP Seminar entitled “Superintendency 101” was held November 14, 2014, at the Casino Espanyol de Manila and InSpecIT became one of the main sponsors of the event. InSpecIT was also invited to give a talk regarding Ship’s Instrumentation and Automation which gave shipowners from companies all over the nation, a brief introduction on how technology is improving regarding Marine Instrumentation and Automation and how InSpecIT can give this service to them.</p>

<a href="http://localhost:3000/pages/news" title="news">Go Back to News</a>