<h2>InSpecIT Training</h2>
<p>InSpecIT now opened its doors for developing new people that will soon join their desired career paths as engineers. OJTs from TIP Manila has satisfactorily completed their term of 240 hours required by their institute. Upon completion they will now be able to put into practice what they gained on their stay in InSpecIT specifically in the field of marine, building, and power instrumentation and automation.</p>

<a href="http://localhost:3000/pages/news" title="news">Go Back to News</a>