<h2>5th PhilMarine Expo 2018</h2>
<p>Join us, as InSpecIT, Inc. showcase our latest technology and services at the 5th PHILMARINE EXPO 2018 on June 27-29, 2018. Visit us at SMX Convention Center, Manila, Mall of Asia Complex, Pasay City, Philippines along with tons of guests, businessmen, exhibitors and companies alike in this 3-day marine industry based event!

The 5th edition of PHILIPPINES MARINE 2018, SHIPBUILD PHILIPPINES 2018 and OFFSHORE PHILIPPINES 2018 is the only specialized Shipbuilding and Maritime event in Philippines that brings together an international congregation of shipbuilding companies, maritime companies and also its supporting industries gathered in the capital of Manila, to showcase the latest developments in the shipbuilding and maritime industry and to improve the current shipbuilding technology and equipment to help maintain Philippines current status as the World’s #4 largest shipbuilding industry.

Fireworks Exhibitions and Conferences which have organized successful international Shipbuilding and Offshore events such as Philippines Marine, Shipbuilding & Offshore Philippines 2017, Marine Vietnam 2017, Indonesia Marine and Offshore Expo, ASEAN Oil & Gas Expo (AGEX), Indonesia Oil & Gas Expo (IGEX), Oil and Gas Thailand (OGET), Malaysia Marine Expo (MIMEX) is the organizer of this fifth edition of Maritime, Offshore, and Shipbuilding event in the Philippines.</p>
<h3>Highlights Of Philippines Marine 2018 Co-located With : Shipbuild Philippines and Offshore Philippines</h3>
<ul>
	<li>Increase in exhibition space and more international pavilions</li>
	<li>An international maritime conference entitled: Philippines International Marine Conference (PIMAC) 2018 sponsored by The Maritime League which is expected to attract more than 200 international delegates.</li>
	<li>More promotional roadshows in the main maritime areas of Philippines prior to the event.</li>
	<li>3 Days of Technology Presentation</li>
</ul>

<a href="http://localhost:3000/pages/news" title="news">Go Back to News</a>