<h2>Asia Pacific Maritime Exhibit</h2>
<p>Asia Pacific Maritime Convention
March 19-21, 2014
Marina Bay Sands, Singapore

InSpecIT management went to the 13th Asia Pacific Maritime (APM) Convention that was held last March 19-21 at Marina Bay Sands, Singapore.

Regarded by the industry as the region’s premier maritime event, APM offers a holistic business experience by combining a comprehensive exhibition, high-powered conferences and seminars, and a host of networking sessions held by many of the largest marine companies in the world, highlighting their products and services on a truly global platform.

</p>

<a href="http://localhost:3000/pages/news" title="news">Go Back to News</a>