<h1>News Update</h1>
<ul>
	<li><a href="http://localhost:3000/pages/news_4thexpo" title="news_4thexpo">4th PHILMARINE EXPO 2017 on July 12-14, 2017</a></li>
	<li><a href="http://localhost:3000/pages/news_5thexpo" title="news_5thexpo">5th PhilMarine Expo 2018</a></li>
	<li><a href="http://localhost:3000/pages/news_siemens" title="news_siemens">Siemens WindPower Office (Brande Denmark)</a></li>
	<li><a href="http://localhost:3000/pages/news_asiapacific" title="news_asiapacific">Asia Pacific Maritime Exhibit</a></li>
	<li><a href="http://localhost:3000/pages/news_newstyle" title="news_newstyle">New Style New Look, and Better Service!</a></li>
	<li><a href="http://localhost:3000/pages/news_anniversary" title="news_anniversary">InSpecIT 6th Year Anniversary</a></li>
	<li><a href="http://localhost:3000/pages/news_MTSAP" title="news_MTSAP">Marine and Technical Superintendent Association of the Philippines (MTSAP) Seminar</a></li>
	<li><a href="http://localhost:3000/pages/news_training" title="news_training">InSpecIT Training</a></li>
</ul>


<a href="http://localhost:3000/" title="home">Home</a>