<h2>New Style, New Look, and Better Service!</h2>
<p>The company has grown significantly through the years. InSpecIT, Inc. has started out back in the year 2008 as an electrical and automation services company catering minor projects throughout the country.  As the years go by, the company expanded exponentially through different industries, fields of expertise and coverage. Nowadays, the company caters major projects from building, marine, industrial, and energy industries ranging from small-scale to large-scale project anywhere and anytime. From a local service provider to a worldwide multi-industry services and supply company!

Since then, the company had countless minor changes to adapt itself to its ever-changing industries. Now that our company has grown much more than we have foreseen, we’ve all decided to undergo major changes that would suit-up the company as it climb up the ranks of the industry. Starting today, April 30, 2018, we officially announce the new style and new look for the company. We humbly present, our new icon, trademark and logo!

We’ve also moved our head office to bigger and better location. Our main office is now located at 10th Floor, Unit 1005, City and Land Megaplaza, ADB Ave. cor. Garnet Rd., Ortigas Center, Brgy. San Antonio, Pasig City, Philippines 1605.

Yet, lest all these changes we’ve announced, there’s much more to come! Join us as we venture bigger, better and bolder in the industry, bringing the future’s automation technology to today’s equipment and systems!

~InSpecIT, Inc. 2018
</p>

<a href="http://localhost:3000/pages/news" title="news">Go Back to News</a>