<h2>InSpecIT 6th Year Anniversary</h2>
<p>InSpecIT Inc celebrated its 6th year anniversary last July 26, 2014 at Lola Corazon’s Leisure Farm at Candaba, Pampanga. The company had its first Team Building complete with talks, games, and prizes. Its also the welcoming party for the two new directors; Engr. Deo Jose Villanueva and Atty. Rodel Nayve.</p>

<a href="http://localhost:3000/pages/news" title="news">Go Back to News</a>