<h1>Projects</h1>
<h2>INDUSTRIAL SCADA AUTOMATION SYSTEMS</h2>

<h3>ISLASOL 48MW SOLAR POWER PLANT, Manapla, Negros Occidental</h3>
<ul>
	<li>ISLASOL</li>
	<li>SCADA Computer Server</li>
	<li>Windfarm SCADA Program</li>
	<li>SCADA Integration</li>
	<li>Solar Panel Supply and Installation</li>
</ul>

<h3>PHILCOMSAT 2.5 KW 24/7 SOLAR HYBRID SYSTEM, Pag-asa Island, Kalayaan "Spratly" Group of Islands</h3>
<ul>	
	<li>PhilComSat</li>
	<li>Install and Fabricate Automatic Transfer Switch Panel</li>
</ul>

<h3>NORTHWIND POWER DEVELOPMENT CORPORATION 48MW WIND FARM SCADA, Bangui, Ilocos Norte</h3>
<ul>
	<li>NorthWind 48MW Wind Farm SCADA</li>
	<li>Single Line Diagram Page<</li>
	<li>SCADA Parameters Page</li>
	<li>Data Archiving</li>
	<li>Panel Meters 1</li>
	<li>Panel Meters 2</li>
	<li>Panel Meters 3</li>
	<li>Panel Meters 4</li>
	<li>Capacitor Bank Panels</li>
</ul>

<h3>GEEC-5MVA BIOMASS POWER PLANT (SCADA & RTU INTEGRATION), Poblacion Buluan, Maguindanao</h3>
<ul>
	<li>System Architecture</li>
	<li>Power House</li>
	<li>Enertech Boiler</li>
	<li>Kaishan Screw Expanders</li>
	<li>Substation</li>
	<li>Trends and Archives</li>
	<li>Status Alarm</li>
	<li>Equipment Reports</li>
</ul>

<h3>12kW COMBINED FLYWHEEL AND SOLAR POWER FACILITY, SCADA INTEGRATION, Bagumbayan, Quezon City</h3>
<ul>
	<li>Overview Page</li>
	<li>Mode Selection Page – RE Integration Mode</li>
	<li>Mode Selection Page – Frequency Regulation Mode</li>
	<li>Mode Selection Page – Island Mode</li>
	<li>Events and Trends Page 1</li>
	<li>Events and Trends Page 2</li>
	<li>Events and Trends Page 3</li>
	<li>Events and Trends Page 4</li>
	<li>Events and Trends Page 5</li>
</ul>

<h2>BUILDING MANAGEMENT SYSTEMS</h2>
<h3>A-PLACE BUILDING MANAGEMENT SYSTEM, SM Mall of Asia Complex, Pasay City</h3>
<ul>
	<li>A-Place Building Overview</li>
	<li>PAHU</li>
	<li>Potable Water System</li>
	<li>Non-Potable Water System</li>
	<li>Roof Deck Plan</li>
	<li>Transformer Plan</li>
	<li>Alarm Page</li>
	<li>Equipment Control</li>
	<li>Fire Pro System</li>
	<li>Generator Set System</li>
	<li>Ground Floor View</li>
	<li>2nd Floor</li>
	<li>3rd Floor</li>
	<li>4th Floor</li>
	<li>5th Floor</li>
	<li>6th Floor</li>
	<li>7th Floor</li>
	<li>8th Floor</li>
	<li>9th Floor</li>
	<li>10th Floor</li>
	<li>11th Floor</li>
</ul>

<h3>TWO E-COM CENTER CENTRALIZED SUB-METERING SYSTEM, SM Mall of Asia Complex, Pasay City</h3>
<ul>
	<li>1</li>
	<li>2</li>
	<li>3</li>
	<li>4</li>
	<li>5</li>
	<li>Step 1</li>
	<li>Step 2</li>
	<li>Step 3</li>
	<li>Step 4</li>
	<li>Step 5</li>
	<li>Step 6</li>
	<li>Step 7</li>
	<li>Step 8</li>
	<li>Step 9</li>
</ul>

<h2>MAIN SWITCHBOARD FABRICATIONS</h2>
<h3>MAIN SWITCH BOARD FABRICATION FOR DA-BFAR 50M MULTI-MISSION OFFSHORE VESSEL 5001 & 5002</h3>
<ul>
	<li>DA-BFAR MMOV 1 AND MMOV 2</li>
	<li>Main Switch Board</li>
	<li>Class Approval with BV Surveyor at Front Panel</li>
	<li>Class Approval with BV Surveyor at Back Panel</li>
</ul>

<h3>MAIN SWITCH BOARD FABRICATION FOR MT PATRICIA LEANE</h3>
<ul>
	<li>Main Switch Board</li>
	<li>Class Approval with BV Surveyor</li>
	<li>Class Approval with BV Surveyor</li>
	<li>Class Approval with BV Surveyor</li>
	<li>Class Approval with BV Surveyor</li>
	<li>Class Approval with BV Surveyor</li>
</ul>

<a href="http://localhost:3000/" title="home">Home</a>