<h1>Services</h1>
<ul>
	<li><h3>Marine Instrumentation, Automation, and Electrical Servicing</h3>
		<ul><p>Installation/ Integration of PLC and SCADA/ HMI syatems with your ship's Remote Terminal Units (RTU's) for centralized control and monitoring</p></ul>
		</li>
	<li><h3>Building Management System and Auxillary Systems Installations</h3>
		<ul><p>Providing the best technological system automation and Auxillary Systems like CCTV and Building Access COntrols, Fire and Security Alarms, HVAC Installations, Structured Cablings, LAN & WAN, IP PBX.</p></ul>
		</li>
	</li>
	<li><h3>PLC, HMI, SCADA Programming Applications</h3>
		<ul><p>We do PLC/ DCC programming as well as SCADA programming for all types of applications.</p></ul>
	</li>
	<li><h3>Electrical Power, Genset Control Panel Installation and Monitoring</h3>
		<ul><p>Electrical works of Indistrial Plants, Gensets and Marine Electricals. Offering the complete solution to monitor all aspects of the electrical distribution system.</p></ul>

	</li>
	<li><h3>Renewable Energy Solutions-Wind and Solar</h3>
		<ul><p>Solar, POwer, Wind Power, Biogas, Hydro Power, Geothermal, Thermal Biomass Power using Boiler and Turbine with Centralized Control</p></ul>
	</li>
</ul>
<a href="http://localhost:3000/" title="home">Home</a>