<h1>Site Map</h1>
<ul>
	<h3><a href="http://localhost:3000/pages/home" title="Home">Home</a></h3> 
	<h3><a href="http://localhost:3000/pages/about" title="About">About</a></h3> 
	<h3><a href="http://localhost:3000/pages/contacts" title="Contacts">Contact Us</a></h3> 

	<h3><a href="http://localhost:3000/pages/services" title="Services">Services</a></h3> 
	<ul><h3>Marine Instrumentation, Automation, and Electrical Servicing</h3></ul>
	<ul><h3>Building Management System and Auxillary Systems Installations</h3></ul>
	<ul><h3>PLC, HMI, SCADA Programming Applications</h3></ul>
	<ul><h3>Electrical Power, Genset Control Panel Installation and Monitoring</h3></ul>
	<ul><h3>Renewable Energy Solutions-Wind and Solar</h3></ul>
	
	<h3><a href="http://localhost:3000/pages/projects" title="Projects">Projects</a></h3>
	<ul>
		
	</ul> 
	<h3><a href="http://localhost:3000/pages/news" title="News">News</a></h3> 
	<ul>
		
	</ul>

</ul>
